html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(213, 213, 229);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

main {
    padding: 20px;
    padding-top: 80px;
    /* border: 3px solid rgb(61, 17, 207);
    border-radius: 8px; */
}

header {
    background-color: rgb(61, 17, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    padding: 10px;
    top: 0;
    border: 3px solid rgb(163, 163, 226);
    border-radius: 8px;
}

h1 {
    color: rgb(163, 163, 226);
    font-family:sans-serif;
    margin: 25px;
}

nav {
    display: flex;
    gap: 8px;
}

nav a {
    text-decoration: none;
    color: rgb(163, 163, 226);
    padding: 8px;
}

nav a:hover {
    color: rgb(137, 137, 235);
}

/*Lista habilidades*/

.lista-habilidades{
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.lista-habilidades li {
    background-color: rgb(168, 168, 232);
    padding: 120x;
    border: 2px solid rgb(61, 17, 207);
    border-radius: 8px 0px 8px 0px;
    transition: all 0.3s ease;
}

.lista-habilidades li:hover {
    background-color: rgb(109, 109, 233);
    cursor: pointer;
    transform: translateY(-3px);
}

/*Lista proyectos*/

.lista-proyectos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.lista-proyectos li {
    background-color: rgb(168, 168, 232);
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(61, 17, 207);
    border-radius: 8px 0px 8px 0px;
    transition: all 0.3s ease;
    box-shadow: 0 40px 50px rgba(0,0,0,0.1);
}

.lista-proyectos li:hover {
    background-color: rgb(109, 109, 233);
    cursor: pointer;
    transform: translateY(-3px);
}

.lista-proyectos li a {
    text-decoration: none;
    color: rgb(61, 17, 207);
}

/* Secciones */

section {
    margin-bottom: 50px;
    background-color: rgb(163, 163, 226);
    scroll-margin-top: 100px;
    padding: 20px;
    border: 3px solid rgb(61, 17, 207);
    border-radius: 8px;
    color: rgb(61, 17, 207);
}

#contacto form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contacto input,
#contacto textarea {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}

#contacto button {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

#contacto button:hover {
    cursor: pointer;
    transform: translateY(-3px);
}



footer {
    background-color: rgb(61, 17, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 3px solid rgb(163, 163, 226);
    border-radius: 8px;
    margin-top: 20px;
    color: rgb(163, 163, 226)
}

footer a {
    color: rgb(163, 163, 226);
    text-decoration: none;
    
}

footer a:hover {
    text-decoration: underline;
    color: white;
}

footer p {
    gap: 12px;
    transition: transform 0.2 ease;
}

footer p:hover {
    transform: scale(1.2);
}

footer i {
    transition: transform 0.2 ease;
}

footer i:hover {
    transform: scale(1.2);
}

/* Media Querys para Tablet */

@media (min-width: 768px){
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav{
        flex-direction: row;
    }

    .lista-habilidades, .lista-proyectos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer{
        flex-direction: row;
        justify-content: center;
    }
}

/* Media Querys para Desktop */

@media (min-width: 1024px){
    main{
        max-width: 900px;
        margin: 0 auto;
    }

    .lista-proyectos{
        
    }
}